# Created by .ignore support plugin (hsz.mobi)
wp-admin
wp-includes
wp-content/plugins
wp-content/languages
wp-content/upgrade
wp-content/uploads
wp-content/gallery
wp-content/w3tc-config
wp-content/advanced-cache.php
wp-content/backups-dup-pro/
#wp-content/index.php
wp-content/themes/galleon-old
wp-content/themes/currentGalleonTheme.zip
wp-content/themes/galleon/node_modules
20200315_buyingagentslondoneuropegal_bafc830deaca63e05013_20200315100846_archive.daf

#index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
urllist.txt
.htaccess
wp-content/themes/galleon-old/node_modules