.exerpt-wrapper {
	width:100%;
	height:auto;
	overflow: hidden;
	padding:15px;
	background-color: get_color(brand, dark_blue);
	color: get_color(brand, white);
	@include fs(body, 1);
	border-top:3px solid;
	border-bottom:3px solid;
	border-color: get_color(brand, light_blue);
	opacity: .9;
	line-height: 19px;
	.exerpt-testimonials {
		width: 90vw;
		@include mq($from: medium) {
			width:320px;
		}
	}
	@include mq($from: medium) {
		display: flex;
		position: fixed;
		bottom:40px;
		right:0;
		width:360px;
		border-left:5px solid;
		border-color: get_color(brand, light_blue);
		border-top:none;
		border-bottom:none;


	}
}

